{% extends 'index/base.html' %}

{% block body %}
<div>
	<div id="chatbox">
		
	</div>
	<div>
		<input id="message" type="text" />
		<button id="sendmessage">Send</button>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	//set update on timer
	setTimeout(function() {
		//clear old messages (should change to just add new messages instead of add all, will improve)
		$("#chatbox").empty();
		//ajax to check for new messages
		$.ajax({
			url: "{% url 'chat:updatechat' %}",
			dataType: "json",
			success: function(json) {
				console.log("message found");
				$("#chatbox").append("<span>"+json+"</span>");
			},
			error: function() {
				console.log("updage error");
			}
		});
	}, 100);
	
	//send message
	$('#sendmessage').on('click', function() {
		var message = $("#message").val();
		$("#message").val("");
		
		//ajax send message
		$.ajax({
			url: "{% url 'chat:sendmessage' %}",
			type: "POST",
			data: {message: message},
			success: function() {
				console.log("message sent");
			},
			error: function() {
				console.log("send error");
			}
		});
	});
</script>
{% endblock %}
